<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Update</title>
    </head>
    <body>
        <h1>Update item</h1>
        <main >
            <div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="control">
                        <button class="button">Update</button>
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>
