<!DOCTYPE html>
<html>
    <head>
        <title>Delete</title>
    </head>
    <body>
        <h1>Are you sure?</h1>
        <main >
            <div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="control">
                        <button class="button">Delete</button>
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>
