<!DOCTYPE html>
<html lang="en">
    <head></head>
    <body>
        <header>
            Due date
        </header>
        <main >
            <p>
                <a href="{% url 'todo_list_list' %}">Back to list</a>
            </p>
            <p>
                <a href="{% url 'todo_list_update' todolist.pk %}">Edit</a>
            </p>
            <p>
                <a href="{% url 'todo_list_delete' todolist.pk %}">Delete</a>
            </p>
            <h1>{{ todolist.name }}</h1>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due_date</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- for each person in people -->
                    {% for item in todolist.items.all %}
                        <tr>
                            <td>{{ item.task }}</td>
                            <td>{{ item.due_date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
</html>
